.num-keypad {
    width: 264px;
    min-width: 264px;

    &-key {
        margin: 4px;
        border-radius: 2px;
        //box-shadow: none !important;
        height: 80px;
        width: 80px;

        &-content {
            height: 75px;
            width: 80px;
        }
    }
}

.cash-keypad {
    width: 181px;
    min-width: 181px;

    &-key {
        margin: 4px;
        border-radius: 2px;
        //box-shadow: none !important;
        height: 80px;
        width: 80px;

        &-content {
            height: 75px;
            width: 80px;
        }
    }
}

.pos-totals {
    &-item {
        margin: 5px 10px;
        padding: 5px 20px;
        border-radius: 3px;
    }
}
