@import "colors";
@import "quasar.fix";
@import "button";
@import "other";
@import "menu";
@import "containers";
@import "image";
@import "ba";

body,#q-app,.q-layout{
    position: fixed;
    width: 100%;
    height: 100%;
}
